*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

#logo {
    width: 150px;
    height: 100px;
}