<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px black;
  "
>
  <img
    src="assets/animatedPlant.gif"
    alt="animatedPlant"
    class="animated-plant"
  />
  <form>
    <input type="text" placeholder="First Name" />
    &nbsp; &nbsp;
    <input type="text" placeholder="Last Name" /><br /><br />
    <input
      type="text"
      placeholder="Email Address"
      style="width: 100%"
    /><br /><br />
    <input
      type="password"
      placeholder="Password"
      style="width: 100%"
    /><br /><br />
    <input
      type="password"
      placeholder="Confirm Password"
      style="width: 100%"
    /><br /><br />
    <button type="submit" class="submit" (click)="createUser()">
      Create Account</button
    ><br /><br />
    or Sign Up with: <br />
    <div class="icons">
      <span
        id="facebook"
        class="iconify"
        data-icon="akar-icons:facebook-fill"
        data-inline="false"
      ></span>
      &nbsp;
      <span
        id="google"
        class="iconify"
        data-icon="fa-brands:google"
        data-inline="false"
      ></span>
      &nbsp;
      <span
        id="twitter"
        class="iconify"
        data-icon="akar-icons:twitter-fill"
        data-inline="false"
      ></span>
    </div>
  </form>
</div>
