.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar-input {
  width: 50%;
  height: 45px;
}

.searchbar-button {
  width: 50px;
  height: 45px;
  outline: none;
  border: none;
  background: #7dd777;
}

.listing-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 50%;
}

.listing-image:hover {
  cursor: pointer;
}
