<div class="searchbar">
  <input
    class="searchbar-input"
    type="text"
    placeholder="Search listings by location"
    id="keyword"
    name="keyword"
    #keyword
    (keydown.enter)="onSearch(keyword.value)"
    onfocus="document.getElementById('keyword').value = ''"
  />
  <button
    class="searchbar-button"
    type="button"
    (click)="onSearch(keyword.value)"
  >
    <i class="fas fa-search"></i>
  </button>
  <button
    class="searchbar-button"
    style="border-left: 1px solid white"
    type="reset"
    onclick="document.getElementById('keyword').value = '';"
    (click)="onSearch('')"
  >
    <i class="fas fa-redo" style="transform: scaleX(-1)"></i>
  </button>
</div>
<br />
<br />
<br />
<br />
<div
  style="
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 60%;
    margin: auto;
  "
  *ngIf="keywordExists; else elseblock"
>
  <div *ngFor="let listing of templistings; let i = index">
    <div
      style="
        width: 200px;
        text-align: center;
        margin: 10px auto;
        overflow: hidden;
      "
    >
      <div
        *ngIf="
          keyword.value == '' ||
          listing['location'].toLowerCase() == keyword.value.toLowerCase()
        "
      >
        <img
          class="listing-image"
          [src]="listing['url']"
          (click)="showListing(i)"
        /><br />
        Owner: {{ listing["owner"] }}<br />
        Location: {{ listing["location"] }}<br />
        Post Code : {{ listing["postcode"] }}<br />
        Start Date : {{ listing["startDate"] }}<br />
        End Date : {{ listing["endDate"] }}
      </div>
    </div>
  </div>
</div>
<ng-template #elseblock>
  <h4>No listings based on this location.</h4>
</ng-template>
