::-webkit-input-placeholder {
  text-align: center;
}

.icons {
  font-size: 40px;
}

#facebook {
  transition: color 1s;
}
#facebook:hover {
  color: #3b5998;
  cursor: pointer;
}

#google {
  transition: color 1s;
}
#google:hover {
  color: green;
  cursor: pointer;
}

#twitter {
  transition: color 1s;
}

#twitter:hover {
  color: #00acee;
  cursor: pointer;
}

.submit {
  width: 100%;
  height: 32px;
  border: 1px solid black;
  background-color: rgb(210, 0, 0);
  color: white;
}

.whitespace {
  margin-top: 70px;
}

.animated-plant {
  width: 150px;
  height: 150px;
}