::-webkit-input-placeholder {
  text-align: center;
}

.listing-image {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  object-fit: cover;
  cursor: pointer;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field-underline {
  bottom: 0;
}

.submit {
  width: 100%;
  height: 32px;
  border: 1px solid black;
  background-color: rgb(210, 0, 0);
  color: white;
}
