.my-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
}

.logo {
    width: 150px;
    height: 100px;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

a {
    color: #7dd777;
}